[2013-10-11 19:26] metaskills opened #2 "Open Thread On How To Use This Repo"
### Files/Folders
- Do we keep everything in one big README.md or make folders?
- If folders, should we use ISO8601 date format? For example `events/2013-12-14-coderetreat.md` is a neat folder/file idea?
### Misc.
- Always use upper case and periods. This is not code comments.
- Always try to link things. For instance, twitter handles, etc.

[2013-10-13 01:22] switchspan commented on #2
I like all of your ideas on **Files/Folders** and **Misc.**, so I second the above suggestions.
A couple of additional suggestions:

#### Files/Folders
- For folders like events, if we use the ISO8601 format, we archive them yearly into a subfolder with the year. For example `events/2012/2012-12-08-coderetreat.md`. This will make a nice archive for reference later.

[2014-03-03 12:31] metaskills commented on #2
cc @rmcastil @itsEconomics

Gonna close this issue. I have really enjoyed the way @NorfolkJS has used github issues for topics. Check it out there and look at how they use labels. Seems pretty cool and way more easy to include everyone on the conversation because we should all be "watching" this repo right?

https://github.com/norfolkjs/logistics/issues?labels=&page=1&state=open

[2014-03-03 12:31] #2 closed, assigned to nobody

[2014-03-03 12:38] metaskills opened #5 "2014-04-08 - CVREG - Metaprogramming Sass"
I have agreed to give this talk to the CVREG group. I need to finish my talk notes and send it to them. Once I do, I need to email it to the following people.

Chris Allport allportdc@yahoo.com
Jeremy jeremy6d@gmail.com

[2014-03-03 12:42] metaskills opened #6 "2014-xx-xx - Grow, AIGA, Etc - Metaprogramming Sass"
No date has been set, but I have started a conversation with Matt Paddock mpaddock@thisisgrow.com at Grow Interactive and they would love to host this. When I finish the work in #5 to submit to CVREG, I will followup with Matt.

I would love some ideas on how to get more local groups to attend this talk.

[2014-03-03 13:25] rmcastil commented on #2
@metaskills :+1:

[2014-03-03 13:26] rmcastil commented on #5
@metaskills did you want to practice giving it at our April meeting?

[2014-03-03 13:28] rmcastil commented on #6
when I did the coderetreat last year I just contacted all the local group organizers and asked them to throw it in their newsletter. Part of the key I see with attracting more people is the title and abstract. To a lot of Rubyists Metaprogramming Sass makes sense but that'll likely turn off potential attendees if they have no idea what those two words mean.

[2014-03-03 14:05] lynnaloo commented on #6
I agree with @rmcastil. Even those using LESS would get a lot out of your talk as well, but might not realize it based on the title.

[2014-03-03 15:04] switchspan opened #7 "April open hack meeting or additional hack night"
# Ruby Hack Night

What do you guys think about doing either a regular meeting as a hack night or picking a Thursday later in the month to have a night of just Ruby hacking?

[2014-03-03 16:23] itsEconomics commented on #2
Watching :)

Ian
Personal website: www.itseconomics.com

On Mar 3, 2014, at 7:31 AM, Ken Collins notifications@github.com wrote:

[2014-03-03 16:39] rmcastil commented on #7
Two options I see to make this happen in the near future.
1. We have it in April to replace our regular meeting. We're still waiting on @metaskills to confirm whether he wants to give his talk in April.
2. We have it this month in place of our regular meeting time. Keith will be presenting on Monday so that leaves Monday open. Only issue is will people want to go to two meetings in one week?

[2014-03-03 22:48] metaskills commented on #5
Proposed CVREG date is April 8th.

[2014-03-03 22:51] metaskills commented on #5
@rmcastil Yea... I think that sounds good. I talked to DCRUG and they also meet on April 10th. So I have asked them to let me present on May 8th. So I can do it for 757rb on April 10th.

[2014-03-03 22:52] metaskills commented on #6
Great advice! So in #5, it seems we may target the local talk for April 5th.

[2014-03-03 23:08] metaskills commented on #7
I would love a hack night. Maybe option 3 would be to that the April 10th meet up would be this hack-a-thon and that my talk on Sass for #6 would possible be on a different day of the week or the week after. The idea is that since it would be broader and at Grow Interactive it could primarily be non-757rb.

Maybe give me a week or so some plans nailed down for #6.

[2014-03-03 23:11] metaskills opened #8 "2014-05-08 - DCRUG - Metaprogramming Sass"
David Naffis @naffis has confirmed my talk for this date. Once I finish my refactor of the talk, send him a new abstract at davidnaffis@gmail.com.

[2014-03-04 13:33] rmcastil commented on #5
@metaskills word. So you'll update meetup with your title and abstract?

[2014-04-10 22:09] lynnaloo opened #10 "RailsBridge"
Is there any interest in another RailsBridge? I'm not qualified to teach, but I'll gladly help organize if someone wants to teach it.

[2014-04-10 22:40] metaskills commented on #5
This went great. However, I need to totally adjust the talk to again.

https://gist.github.com/metaskills/10083010
https://speakerdeck.com/metaskills/metaprogramming-sass

[2014-04-10 22:40] #5 closed, assigned to metaskills

[2014-04-10 22:46] metaskills commented on #8
Talk went well for CVREG. I am all scheduled for DCRUG.
http://www.meetup.com/dcruby/events/125375412/

Will be working on retooling the talk.

[2014-04-10 23:23] metaskills opened #11 "2014-05-08 Meetup Ideas?"
NOTE: I have deleted all the files in this project. We are going to use issues just like @NorfolkJS

We need a topic for next month. @metaskills will be out at DCRUG for this date.

[2014-04-13 19:43] metaskills commented on #5
From @chrisallport

I talked to Chris about Gustin & general ideas about a regional conference. Also mentioned this to @1kevgriff. Either way, totally love CVREG. PS, we need to get more shirts.

[2014-04-13 22:57] metaskills commented on #10
I would be interested in helping this time around. I also think you would be qualified too.

[2014-04-13 22:59] metaskills commented on #7
So we did it, and I think successfully. Any action items?
- Do another one a re-occurring schedule?
- Hack on a group topic? With mentors?

[2014-04-13 23:10] metaskills opened #12 "New Shirts! How?"
I want to start planning for a re-print of our t-shirt.

https://www.booster.com/757rb

Idea would be to do same design and shirt as used in the campaign. I want to make sure of the following:
- No underbase used. This makes the ink feel coarse and thick.
- No halftones used. Previous did, and looked odd.

That said, the ideas for discussion would be:
- Would another Booster campaign work?
- Maybe

[2014-04-14 12:31] rmcastil commented on #8
@metaskills great job bro!

[2014-04-14 12:33] rmcastil commented on #11
I think @switchspan wanted to give a talk. Can you confirm @therubyrep?

[2014-04-14 12:37] rmcastil commented on #5
@metaskills since you're doing a world tour :+1:? Did you want to do this at 757rb in June? cc @therubyrep

[2014-04-14 12:39] rmcastil commented on #10
@lynnaloo there is definitely interest. What works for everyone to do a little skype call and discuss everything that this entails?

[2014-04-14 12:46] rmcastil commented on #7
@metaskills I think it was a hit. Ryan Davis's slides for how Seattle.rb evolved are [on his site](http://zenspider.com/~ryan/presentations/2014_MWRC_Nerd_Party.pdf). I think we're at the brink between 1.0 and 2.0. I like the idea of weekly hacking but I'm not sure how we can accomplish it with limited organizers. Maybe we just rotate through each group and try and maintain our community? Thoughts

[2014-04-14 12:47] metaskills commented on #8
Thanks man, really considering we need some shirts to give away too while up there or just in general.

[2014-04-14 12:48] metaskills commented on #5
I do!

[2014-04-14 12:49] rmcastil commented on #12
TBH I love the test print the best. The shirt may have felt 'hard' but that blue looked pretty awesome with the logo. Plus having the 8bit 757rb on the back was pretty cool. I think the tri blend is what throws me off with the color. Or maybe go with a hoddie instead of a T?

[2014-04-14 12:50] metaskills commented on #5
Ryan, I do, but I wanted it to line up with #6. I am talking to Alex Proaps and Bianca Chesimard now about doing it for a cross team event. Likely with Grow, and the local UX people.

[2014-04-14 12:55] metaskills commented on #12
You mean [this one](https://www.customink.com/designs/757rbf/djn0-000v-yegp/retrieve) which had to be printed on the teal since the quantity was low and the Baby Blue could not be printed with digital ink. I really dislike digital printing, feels 80's mall'ish.

[2014-04-14 13:04] metaskills commented on #7
I liked those slides. I seem to like 2.0 and 3.0 both. I think the idea of monthly social/hack would solve the limited organizer and presenter stuff and bring out other interesting topics by just talking.

[2014-04-14 14:42] lynnaloo commented on #12
I didn't know you could do more than one Booster campaign! I like the purple, but I might have a different opinion about the pastels than many of the guys :) My only request is that we don't do our Booster campaigns at the same time (ninja cat v mermaid).

[2014-04-14 14:44] rmcastil commented on #12
Oooh. How about doing the ninja cat first then doing a ninja cat + mermaid?

On Mon, Apr 14, 2014 at 10:42 AM, Linda Nichols notifications@github.comwrote:

[2014-04-14 14:47] lynnaloo commented on #12
ooooooh a Booster campaign shirt with multiple user groups on it? That could be cool.

[2014-04-14 14:52] metaskills commented on #12
Great idea. Polyglot FTW!

[2014-04-14 20:29] metaskills opened #13 "2013 - Ryan's Prospects From Ruby DCamp"
- Andrew Culver @andrewculver (@rmcastil requested via twitter)
- Zander @_ZPH (@rmcastil requested via Ruby DCamp)
- Hiro Asari @hiro_asari (@rmcastil requested via Ruby DCamp)
- Jason Wieringa @jwieringa (@rmcastil requested via Ruby DCamp)
- Sean Marcia @seanmarcia (@rmcastil requested via Ruby DCamp)
- Jamie Wright @jwright (@rmcastil requested via twitter)

[2014-04-14 23:32] switchspan commented on #11
@metaskills & @rmcastil  -- I can give a talk on BigQuery if you would like. :)

[2014-04-14 23:35] switchspan commented on #12
Not a bad idea. Although HRNUG doesn't really have a mascot (AFAIK) -- I do think there is a logo. @1kevgriff would be the one to ask on that.

[2014-04-15 02:17] seanmarcia commented on #13
Wow, what amazing company I find myself in with this list :)

[2014-04-15 04:33] rmcastil commented on #13
@SeanMarcia the point is, come on down! We'd love to have anyone who is excited to present.

[2014-04-15 11:41] metaskills commented on #13
LOL, It just occurred to me another great reason for this style of organization, the cc's to Github. Epic win! @SeanMarcia, yes, by all means do come down if you have the time or a topic you want to practice. I myself will be up at DCRUG #8 next month too and am looking to take more time presenting.

I don't have a summer home to share lodging, but I'm sure anyone @757rb would love to help in anyw

[2014-04-15 13:28] rmcastil commented on #13
:+1:

On Tue, Apr 15, 2014 at 7:41 AM, Ken Collins notifications@github.comwrote:

[2014-04-15 15:36] lynnaloo commented on #11
I'd like to hear that BigQuery talk! I missed it at HRNUG. If people are interested, I could throw together a talk on what I'm doing with Vagrant.

[2014-04-15 18:02] rmcastil commented on #11
SOLD!

@switchspan can you go ahead and put yourself down for the May talk?
@lynnaloo do you want the vagrant talk to be a 30-45 min one or a lighting one?

[2014-04-15 18:34] lynnaloo commented on #11
I haven't put the talk together yet, but I'm thinking about 30 minutes so that it can be interactive. I've never spoken at any of the user groups so it will be a first for me! If you can schedule me later this summer (July/August) that would work best.

[2014-04-15 19:52] switchspan commented on #11
@rmcastil - No problem - I will put something together for the Meetup entry.
@lynnaloo - Awesome -- I will put you on the calendar. :)

[2014-04-15 20:34] switchspan opened #14 "2014-07-10 Meetup"
I am adding this as a reminder that @lynnaloo is doing the July talk on how she is using vagrant. :)

[2014-04-15 20:38] switchspan commented on #14
Oooops...tried to label and I accidentally closed this. :-/

[2014-04-16 13:57] rmcastil commented on #13
@SeanMarcia I think you're sandbagging dude. It looks like you're [presenting](http://www.railsconf.com/program) at RailsConf :smile:

[2014-04-16 13:58] rmcastil commented on #7
Yeah. I also like the ratio. Thing is they do weekly meetings.

[2014-04-16 15:51] seanmarcia commented on #13
That's just because they had a quota of Canadians to fill and no others submitted talks ;)

[2014-04-16 20:59] jwieringa commented on #13
Yeah, it is pretty effective organization. :smile:

[2014-04-18 01:14] qwo commented on #12
I'm in for a couple more shirts!

Also figuring how to clone Ken's Campaign Shirt icon :) off the http://757rb.org site

[2014-04-18 01:24] qwo opened #15 "National Day of Civic Hacking (X-POST) Co-sponsorship opportunity with 757rb"
Hi guys,

I help organize for the local CodeforAmerica Brigade Chapter CodeforhamptonRoads.

I wanted to talk to you guys about National Day of Civic Hacking. NDOCH is a day established by the whitehouse open science and technology policy to encourage citizens to use public data and technology to build tools for their local neighborhoods.
http://www.whitehouse.gov/blog/2014/04/17/celebrating-secon

[2014-04-18 13:32] metaskills commented on #15
I would love to do a CSS preprocessor intro, but have to check with the misses first. Saturday is our farmer's market day and home todo day. I will report back.

[2014-04-18 14:56] qwo commented on #15
Awesome Thanks @metaskills! :)

[2014-05-09 13:09] metaskills commented on #8
This went really really well. Gonna post
![friday-hug](https://cloud.githubusercontent.com/assets/2381/2928296/f462a2a6-d77a-11e3-8cfb-55ebabe95dc7.jpg) for @tenderlove on Twitter. Here is my updated speaker deck slides that I'll post to the DCRUG group. https://speakerdeck.com/metaskills/metaprogramming-sass

[2014-05-09 13:09] #8 closed, assigned to nobody

[2014-05-09 13:12] metaskills commented on #6
I'm still gonna do this, but want to finish my thesassway.com article first.

[2014-05-09 13:30] metaskills commented on #11
THANKS KEN!!!

[2014-05-09 13:30] #11 closed, assigned to nobody

[2014-05-09 13:34] metaskills opened #16 "2014-06-12 Meetup"
Hey everyone! I had a great time at DCRUG and got to talk with @seanmarcia about coming down and presenting his saving the planet talk for us!!!!!!

Sean, can you reply here and let us know if this date works for you. We can even change it or do the month after.

[2014-05-12 16:06] seanmarcia commented on #16
Sorry for the slow response, I've been waiting to ensure my wife can get time off from work and it looks like she can. I'm excited to see you all soon!

Time to start finding some guidebooks for down there :)

[2014-05-14 20:56] metaskills commented on #16
Woohoo!!! Sean, is this OK to post to the meetup page?

### Saving the World (literally) with Ruby on Rails

#### Sean Marcia

Two thirds of honeybee hives have died out in Virginia. Is it possible for us to devise a way of monitoring beehives in remote locations to find the cause? Enter a raspberry pi + rails. Using a combination of this robust hardware and software solution, we were able to succ

[2014-05-14 20:57] metaskills commented on #16
cc @rmcastil @switchspan

[2014-05-14 20:58] seanmarcia commented on #16
Looks good to me :)

[2014-05-14 21:04] metaskills commented on #16
Done deal. http://757rb.org

[2014-05-14 21:09] switchspan commented on #16
Sounds good to me too!

On Wed, May 14, 2014 at 5:04 PM, Ken Collins notifications@github.comwrote:

##

"You can't get unless you give. And you have to give without wanting to
get."
—Theodore H. White

[2014-05-14 22:14] rmcastil commented on #16
:+1:

[2014-05-15 02:48] metaskills commented on #16
@SeanMarcia Please text or call me with your travel plans or needs as the date gets closer. Maybe we can hangout, etc. My cell phone number is:

( :seven: :five: :seven: ) :six: :seven: :two: - :two: :two: :four: :six:

[2014-05-16 00:40] metaskills opened #17 "Sell Stickers On Stickermule"
I just did this commit https://github.com/757rb/757rb.org-jekyll/commit/0fb02af1238df94bcbb68fd3376a0dc19cf04e84 promotes our stickers on the new stickermule marketplace.

[2014-06-08 20:53] metaskills commented on #17
We made our first sale a few days back, so closing this issue. For the curious, no money was made from what I can see. So I am assuming that small orders just pass cost right thru. Either way, it is a fun way to promote our group and I will always tweet out when I see a purchase happen!

[2014-06-08 20:53] #17 closed, assigned to nobody

[2014-06-08 20:55] metaskills commented on #16
FYI, spoke to @SeanMarcia at RubyNation and we are still on track. Sean told me we will likely hear from him soon on travel details. I would love to open up my office for co-workering and grilled cheese if anyone is interested.

[2014-06-08 20:57] metaskills commented on #16
I think @karledurante, @cmar, and/or @rmcastil can testify that I have room for up to 3 people to hang out and co-work here in my small office. Pretty cozy. Cant wait. Sean!

[2014-06-08 21:03] rmcastil commented on #16
I can come by Thursday but can't make the talk. We've got my kids' end of the year picnic.

[2014-06-08 21:08] metaskills commented on #12
OK, I put in a request to CustomInk for a sponsored shirt order. Will let y'all know what happens. BTW, I have come to also love the American Apparel 50/50 and think the 757rb Booster design [looks awesome](http://www.customink.com/designs/757rb5050p/dxn0-0011-h6w0/hotlink) on the Heather Lake Blue style.

![screen shot 2014-06-08 at 5 06 29 pm](https://cloud.githubusercontent.com/assets/2381/3212

[2014-06-08 21:19] metaskills commented on #13
I was talking to some people at RubyNation and flaked because we do not have @zph on the calendar for July 10th (http://www.meetup.com/757-rb/events/qrhwffyskbnb/). Can we get Zander's talk info and post it up on the meetup?

cc @rmcastil @therubyrep

[2014-06-08 21:20] #13 closed, assigned to nobody

[2014-06-08 21:33] metaskills opened #18 "2014-xx-xx Jim Gay"
So I talked to @saturnflyer at RubyNation and got a personal demo of his [**Eastward Ho! A clear path with OO**](http://www.rubynation.org/schedule/index?schedule=yes#jim_gay) talk and wanted to reach out to him to see if he can do the same talk (or anything really) for our group and visit Norfolk/VaBeach. Thoughts? No rush.

[2014-06-08 23:13] lynnaloo commented on #12
That looks great!

[2014-06-08 23:35] zph commented on #13
"Surviving Large Unfamiliar Codebases: A Harrowing Tale of Legacy Apps and Oracle Databases"

That's the working title :smile:.

I'll be in town all day Thursday, either co-working or working from a decent coffeeshop!

[2014-06-09 01:22] switchspan commented on #12
Ditto!

On Sun, Jun 8, 2014 at 7:13 PM, Linda Nichols notifications@github.com
wrote:

##

"You can't get unless you give. And you have to give without wanting to
get."
—Theodore H. White

[2014-06-09 13:24] rmcastil commented on #18
I'm down for it. I'd love to have @saturnflyer down here again.

On Sun, Jun 8, 2014 at 5:33 PM, Ken Collins notifications@github.com
wrote:

[2014-06-09 15:51] saturnflyer commented on #18
Sounds great!

[2014-06-09 18:43] #15 closed, assigned to nobody

[2014-06-11 19:31] lynnaloo commented on #14
Looks like you guys might be double-booked for July: https://github.com/757rb/organizing/issues/13#issuecomment-45448914. I can defer to an out-of-towner if need be.

[2014-06-11 20:36] rmcastil commented on #14
That's my bad! I'm sorry.

Zander followed up with us recently and I didn't even bother to check the
issues. I let Mandy handle the scheduling and I'm pretty sure I never told
her to double check the issues as well.

Is your talk ready? We can move things around to make this work if so. I'd
hate it if I started preparing a talk just to find out I was accidentally
booted.

On Wed, Jun 11, 2014 at 3

[2014-06-11 20:39] metaskills commented on #14
My bad too, I was reacting to the email I saw to Zander and did not stop to think to double check an open issue for the same month.

[2014-06-11 20:40] metaskills commented on #12
So I heard back from CustomInk today and they said they would fund another round of shirts. Will report back on what I am thinking about later when I setup new designs.

[2014-06-11 20:45] lynnaloo commented on #14
I only have a rough outline so it's totally cool to bump me to the fall when you have an opening.

[2014-06-11 21:16] switchspan commented on #12
Sweet!

On Wed, Jun 11, 2014 at 4:40 PM, Ken Collins notifications@github.com
wrote:

##

"You can't get unless you give. And you have to give without wanting to
get."
—Theodore H. White

[2014-06-14 22:09] metaskills commented on #12
So the current idea I am floating is this **American Apparel Tri-Blend T-shirt - Tri-Orchid**. It comes in youth small to two extra large.

![9d8ed570-0292-4044-971d-f0e0e0b6dfdc](https://cloud.githubusercontent.com/assets/2381/3279703/67389342-f410-11e3-9bb5-d3d7afdf4a32.png)

[2014-06-14 22:12] lynnaloo commented on #12
I really love this one!

[2014-06-21 14:48] jwieringa commented on #13
@zph That sounds... too much like real life.

[2014-06-21 15:52] metaskills commented on #13
@zph Please text me when you are in town or nearby.
(:seven::five::seven:) :six::seven::two:-:two::two::four::six:

[2014-06-21 20:47] zph commented on #13
@metaskills Sounds good, I'll be arriving the night before, maybe around 8 or 9pm depending on how the drive goes.

[2014-07-02 11:03] metaskills commented on #16
Closing this issue out. Thanks again for coming down @SeanMarcia!!!

[2014-07-02 11:03] #16 closed, assigned to nobody

[2014-07-02 11:04] metaskills commented on #14
Ohhh... I just noticed that @switchspan has a new fancy Github avatar! Sweet.

[2014-07-02 11:08] metaskills commented on #12
So these shirts have been ordered. Our CustomInk sponsorship really paid off this year, total cost for this 4c front and 2c back and following quantities was close to $700. I'll pass on the appreciation when I am up there next week. ETA for delivery just might be Tuesday or Wednesday next week.

![sizes](https://cloud.githubusercontent.com/assets/2381/3454964/0b986d9c-01d9-11e4-81bd-e0503568c688.p

[2014-07-02 11:12] metaskills commented on #14
@rmcastil If the new shirts from #12 come when I expect, I'll make sure to get some to you. I want to make sure that @zph gets his too.

[2014-07-02 14:45] zph commented on #14
Ooo, those look really nice. Thanks for including me in that @metaskills

[2014-07-02 14:49] metaskills commented on #14
@zph What size are you? Here is the [size chart](http://www.customink.com/items/sizing/169900_lineup/standard.htm)

[2014-07-02 14:50] zph commented on #14
@metaskills 2XL

[2014-07-11 07:22] qwo opened #19 "2014-12-?? TravisCI / Hiro Asari"
@rmcastil was trying to get Hiro from TravisCI to come up to Norfolk. We already have him coming to speak in December for @norfolkjs

https://github.com/norfolkjs/logistics/issues/39

He suggested a joint event and combine forces! We have xTuple as a location and beer sponsor so far so more sponsors for food or other swags appreciated!

maybe could be a 757polyglot event @1kevgriff

Thoughts Appre

[2014-07-11 11:41] metaskills commented on #19
I am a total fan of this idea! Would love to do a joint meetup with @BanzaiMan.

[2014-07-11 12:42] lynnaloo commented on #19
This is starting to sounds like the 757 Dev CHRISTMAS PARTY. Egg Nog sponsor??

[2014-07-11 12:46] metaskills commented on #19
I'm more interested in the Whiskey Sponsor™ to go with the egg nog.

[2014-07-15 15:44] bambilee1116 commented on #14
@lynnaloo Can you speak at next month's meetup on Thursday, August 14th?

[2014-07-15 19:13] metaskills commented on #12
Closing this issue. New shirts are in and some have already been handed out. DM me on Twitter if needed.

[2014-07-15 19:13] #12 closed, assigned to nobody

[2014-07-15 19:15] metaskills commented on #14
Closing this issue since it is for last month's meetup. @lynnaloo, please answer to #18 if you can.

[2014-07-15 19:15] #14 closed, assigned to nobody

[2014-07-15 19:15] metaskills commented on #19
Changed topic to "2014-12-?? TravisCI / Hiro Asari"

[2014-07-15 19:17] lynnaloo commented on #14
I can't do August, sorry :( Keep me in mind for the fall.

[2014-07-15 19:17] metaskills opened #20 "2014-07-31 Mid Meetup?"
I've been talking with @karledurante and @jdlehman about coming down for a visit to the 757rb. The idea is that we would do a mid-schedule meetup for Jonathan to present and get to know the group.

[2014-07-15 20:55] qwo commented on #19
Hi Ken, so we typically do the third monday of every month. So if Linda checks my calendar math its

December 15th, 2014. This should match up with whats planned in the @norfolkjs issue tracker

[2014-07-15 21:03] lynnaloo commented on #19
I had already scheduled Hiro for Norfolk.js's December 15th meeting at xTuple before I knew he did Ruby or knew @rmcastil. It just came up by coincidence at the last Ruby meeting.

I originally contacted him early this fall but his schedule didn't permit. His Travis-CI talk would work for a cross-language meetup.

https://github.com/norfolkjs/logistics/issues/39

[2014-07-15 21:13] qwo commented on #19
i already fired the @1kevgriff batsignal but he hasn't arrived. Dunno if hes back from CodeStock yet.

[2014-07-15 21:27] BanzaiMan commented on #19
I am only 3 hours away, and the meeting would be far enough in advance; so I can be pretty flexible on the date.

[2014-07-15 22:16] lynnaloo commented on #19
Since I already have the location set, I'd like to stick to December 15th.

[2014-07-16 14:14] rmcastil commented on #19
Yeah December is usually unpredictable. If we can have an out of town
speaker, end of the year speaker, plus joint meetup I think the turnout
will be great.

On Tue, Jul 15, 2014 at 6:16 PM, Linda Nichols notifications@github.com
wrote:

[2014-07-16 18:16] 1kevgriff commented on #19
Everyone on this thread minus @rmcastil (not a member) and @BanzaiMan are organizers on the polyglot group.  If you all wanna schedule something under the polyglot group - feel free (http://www.meetup.com/757-Polyglot-Developers/).  Don't lemme hold you all up if you wanna use it.

[2014-07-16 19:07] metaskills commented on #12
OK, I just opened a v2 Booster for 757rb purple. The price is set so that it does not make profit if we hit the goal, or very little.

https://www.booster.com/757rb-v2

I will add this to the 757rb.org HP like the old one. I do want to point out that I have about 8 shirts leftover from the initial order, but maybe this is a good way to get a few more out there too.

[2014-07-17 11:43] metaskills commented on #19
Thanks Kevin!

[2014-07-20 14:23] metaskills commented on #20
I've gone ahead and scheduled this. If anyone has more/better details on the talk or get together, just shoot them my way here in comment.

http://www.meetup.com/757-rb/events/195975932/

[2014-07-20 14:23] #20 closed, assigned to nobody

[2014-07-21 17:09] rmcastil commented on #14
@metaskills we're just going to cancel the August meeting then? cc @therubyrep

[2014-07-21 17:18] metaskills commented on #14
Ryan, I had not planned on it. My idea was to just throw something together for the out of town crew. Since I have not yet focused on the August presentation, what do you think?

[2014-07-21 18:02] qwo commented on #14
Hey @rmcastil and @metaskills,

@xtuple is kicking off our haxTuple event: hack to meet the Woz event in August 9th\* and goes on all month.

In lieu of a traditional meetup how about a hack event? \* Maybe @norfolkjs will also be interested

http://www.xtuple.com/events/haxtuple-calling-all-developers-30-day-hacking-kick-off

More info in this wiki: https://github.com/xtuple/xtuple/wiki/haxTuple-

[2014-07-21 19:56] rmcastil commented on #14
@stanzheng I like the idea of this. The summer months are usually slow and people have been asking for a hack event.

[2014-07-21 20:22] qwo commented on #14
let us know @lynnaloo, @tjwebb and @shackbarth can help make this happen.

[2014-07-21 20:25] tjwebb commented on #14
Yes. In addition "meet Steve Wozniak" there will be other incentives as well

[2014-07-22 13:39] switchspan commented on #14
+1 on @rmcastil comments. I was going to suggest a hack event in the absence of a speaker. What do you think @metaskills ?

[2014-07-22 13:43] qwo commented on #14
@switchspan @gdghr is invited too :).

There will be beer, pizza, and prizes. what more could you want.

[2014-07-22 13:47] lynnaloo commented on #14
The infrastructure is there to write applications in languages other than JavaScript using our REST API, but we need some good ideas and developers to write them :)

[2014-07-22 14:10] switchspan commented on #7
I am a little late to looking t Ryan Davis's slides, but I like the ideas! Weekly meetings would present and interesting challenge though...

[2014-07-22 14:16] switchspan commented on #14
Good ideas and developers? Damn...that rules me out. ;) (J/K!)

Is the API for the ERP, CRM or all of the products?

[2014-07-22 14:48] qwo commented on #14
Don't quote me on it, but i think its for all business objects so should be anything the xTuple Web supports. Contacts, Sales Orders, Accounting, etc.

For a taste, this is an app i threw together in an hour using our REST service in express to solve
- Forming Lunch Parties
- Requesting people move cars
- Friendly Hellos

https://github.com/stanzheng/xTuple-Yo

[2014-07-31 15:10] lynnaloo opened #21 "haxTuple - August 9-10"
xTuple is having a hack Saturday and Sunday, August 9-10, for anyone that wants to stop by and hack. The stack has been typically JavaScript, but we're now trying to get people to write some open-source apps in all languages with data from the REST API. I wrote a very basic Ruby client as a proof of concept and I have a sample Dashing dashboard if anyone is interested in improving upon those or wr

[2014-08-07 12:04] metaskills commented on #18
Changing this topic from August meetup to future 2014 one in general. Also, I canceled the August 14th meetup in lieu of the one we had last week and cross promotion with #21

[2014-08-07 12:04] metaskills commented on #18
@saturnflyer I'm still game for doing an Arlington Ruby presentation. Thoughts?

[2014-08-07 14:22] saturnflyer commented on #18
:cry:

[2014-08-07 21:57] metaskills commented on #18
@saturnflyer Wait, were you coming down? Cause if so, that would be awesome and I would need to post details!!!

[2014-08-11 12:43] rmcastil commented on #18
@saturnflyer @metaskills did you guys ever resolve this?!

On Thu, Aug 7, 2014 at 5:57 PM, Ken Collins notifications@github.com
wrote:

[2014-08-11 13:04] saturnflyer commented on #18
Sorry guys. I was mostly computer-less this weekend.
I'm still game for doing this but can reschedule to another date without a problem.

@metaskills we're in the midst of a potential venue change for Arlington Ruby so our schedule might be up in the air. i'll keep you posted

[2014-08-11 13:08] metaskills commented on #18
@saturnflyer - I would like to reschedule to next month, September 11th, or any day next month that lines up with your schedule. The way I see it, your talk is so incredible cool and we did not do right by you getting this up on the meetup site which would have allowed us to communicate better that you were coming down and promote the talk. That was my bad! So Sorry!

If you are cool with Septembe

[2014-08-15 16:33] #21 closed, assigned to nobody

[2014-08-21 16:42] metaskills commented on #18
@saturnflyer can we pencil you in?

[2014-08-21 16:45] saturnflyer commented on #18
yes! game on.

Sorry for the delayed reply

On Thu, Aug 21, 2014 at 12:42 PM, Ken Collins notifications@github.com
wrote:

##

Write intention revealing code #=> http://www.clean-ruby.com

Jim Gay
Saturn Flyer LLC
571-403-0338

[2014-08-21 16:47] metaskills commented on #18
Jim, can I use this description from Ruby Nation for the talk?
http://www.rubynation.org/schedule/index?schedule=yes#jim_gay

[2014-08-21 16:53] metaskills commented on #18
To late! I already did. Let me know if this is good for you.
http://757rb.org

[2014-08-21 16:55] #18 closed, assigned to nobody

[2014-09-18 12:28] rmcastil opened #22 "Speaker for October"
Do we have one? @lynnaloo did you want to give your presentation?

[2014-09-18 14:35] lynnaloo commented on #22
I still want to give it, but I'm too booked in October with xTupleCon and my kids class :/

[2014-09-18 15:46] lynnaloo commented on #22
If you want to put me down for November, though, I'm down!

[2014-10-01 13:33] rmcastil commented on #22
@metaskills any ideas?!

[2014-10-01 14:10] metaskills commented on #22
Oh... for the meeting just about to happen? No. Wanna tap dance? Ryan, I can make something up and talk, maybe you would be interested too? Hack night?

[2014-10-01 14:54] rmcastil commented on #22
I could do something like "Welcome to my nightmare: Building 90% of an web
app with ActiveAdmin" but I'm just spitballing here.

On Wed, Oct 1, 2014 at 10:10 AM, Ken Collins notifications@github.com
wrote:

[2014-10-01 15:24] metaskills commented on #22
Whoa... I would love to hear that!

[2014-10-01 15:33] rmcastil commented on #22
The other possibility is to have @mbuckbee speak about how he's built a heroku add-on and generated several thousand in monthly recurring revenue.

[2014-10-01 15:35] itsEconomics commented on #22
Do any of you know how to create webhooks within a rails application?

On Oct 1, 2014, at 11:24 AM, Ken Collins notifications@github.com wrote:

[2014-10-01 15:47] itsEconomics commented on #22
Because I'd love for someone to speak on that ;)

On Oct 1, 2014, at 11:35 AM, Ian Taylor taylorim@gmail.com wrote:

[2014-10-02 11:34] metaskills commented on #22
No... no web hook experience. Done pusher before. I want to hear Ryan's active admin. I've always nah sayed using tools like that and I want to check my gut on how I feel about those projects. Seems like a winner?

[2014-10-02 13:27] rmcastil commented on #22
I'll prepare one for next time. I might have gotten Buckbee to speak about
his heroku experience.

On Thu, Oct 2, 2014 at 7:34 AM, Ken Collins notifications@github.com
wrote:

[2014-10-02 18:21] rmcastil commented on #22
Just announced the meeting: http://www.meetup.com/757-rb/events/208313112/

[2014-10-02 18:21] #22 closed, assigned to nobody

[2014-10-02 18:27] metaskills commented on #22
Thanks Ryan and Michael!

[2014-10-02 18:54] switchspan commented on #22
+1 on webhooks. I would def. like to hear about making a Heroku add-on.

[2015-01-19 20:35] metaskills commented on #19
Thanks from this end too @BanzaiMan I just got a fresh batch of 757rb stickers and I am going to send a few dozen your way.

[2015-01-19 20:35] #19 closed, assigned to nobody

[2015-01-19 20:36] #6 closed, assigned to nobody

[2015-01-19 20:46] metaskills opened #23 "2015-03-12 Christopher Sexton & Beacon Tech 🚨"
So @csexton did a talk at RubyConf title [BLE Beacons & Ruby](http://rubyconf.org/program#prop_610) and I though tit would be really cool to have him down in this area to talk about that or maybe anything else Ruby or hardware related to the company he works for http://www.radiusnetworks.com

[2015-01-19 20:47] metaskills commented on #23
cc @lynnaloo

[2015-01-20 00:42] csexton commented on #23
Sounds rad! I've been meaning to come visit for a while and this is a great reason for me to get my act together. I'd be happy to do (an updated version) of my "[Dramatic Intro Music: Bluetooth Low Energy Beacons and Ruby](https://gist.github.com/csexton/9cf57eb2b95966c1916e)" talk, or can do something more hands on with the Radius Networks hardware.

Is the venue well suited to a workshop, presen

[2015-01-20 11:03] metaskills commented on #23
Yes, lets do it. How do you feel about any of the following dates?
- Thu Mar 12
- Thu Apr 9
- Thu May 14

As is now the venue is 757creativespace and is more work/presentation. There is a big round table conference area.

[2015-01-23 02:57] csexton commented on #23
The kids said I can go but only if I can get them some of the "jewel mermaid" stickers.

Can I take the March 12th date?

[2015-01-27 12:53] metaskills commented on #23
You can, I just posted all the details. I will STICKERS! You bring the coolness :)

http://www.meetup.com/757-rb/events/219887528/

I'll touch base before hand and coordinate travel plans with ya. Thanks again! I'll ping you back on the talks I was thinking of doing up there soon. My calendar is opening up.

[2015-02-15 23:59] metaskills opened #24 "2015-xx-xx Nathan Hessler ???"
@nhessler - Welcome to the 757rb organizing repo. We use this repo to talk about and schedule future topics and meetups. If you have a moment, may drop some info here on what type of talk you had in mind. Once we finalize things, we can post the details to the official meetup.com site.

[2015-02-22 19:41] nhessler commented on #24
Topic: Personal Developer Security

As developers, the companies we work for put a lot of trust in us, giving us access to many key parts of business infrastructure. Stewarding that trust and access is in everyones best interest. Lets talk about some simple ways we do this and go over some tools that could possibly help as well.

[2015-02-23 23:57] metaskills commented on #24
Thanks Nathan, did you have any ideas on the date? [April 9th](http://www.meetup.com/757-rb/events/qrhwffytgbmb/) is our next open meetup. Or did you want to try and shoot for something in-between?

[2015-03-11 10:50] metaskills commented on #23
Hey Chris, the meetup seems to be shaping up. Cant wait. Can you shoot me your travel plans? What time do you plan to be in Norfolk and leaving? Also, I am headed to the new Slover Library today to see if we can get a change of venue too to accommodate the expected size. Cheers!

FYI, my cell is ( :seven: :five: :seven: ) :six: :seven: :two: - :two: :two: :four: :six:

[2015-03-11 14:32] csexton commented on #23
![excite](http://i.imgur.com/dnBMenZ.gif)

**I am excite!**

I was going to drive down tomorrow after traffic dies down. Then just find some place to work -- any recommendations?

[2015-03-11 14:38] itsEconomics commented on #23
If you guys would like to work at our local maker space (http://www.757makerspace.com/ http://www.757makerspace.com/), I have access and we can all hang out there until the meeting.  Just let me know what time you want to show up and I’ll be there to let us in.

Ian

[2015-03-11 16:17] metaskills commented on #23
Ian! Thanks. I like that idea so we can go to Handsome Biscuit for lunch too! @csexton, they close at 2pm. Can you be here before then? You wont regret it!!!

[2015-03-11 16:29] itsEconomics commented on #23
Oh heck yea! We can even walk there from the space.

Sent from my iPhone

[2015-03-12 03:56] csexton commented on #23
I have to get some stuff setup at the office in the morning, so will leave as soon as I can. 2 will be tight, but maybe I95 will be kind.

[2015-03-12 12:56] metaskills commented on #23
@csexton That'll be OK. I will work something out for ya. BTW, can you text me when you are on the Road so we can ping each other as you get close. My number is above.

[2015-03-12 12:57] csexton commented on #23
Will do.

[2015-03-28 20:59] metaskills commented on #23
Thanks @csexton! It was great visiting Arlington Ruby too.

[2015-03-28 20:59] #23 closed, assigned to nobody

[2015-03-28 21:03] metaskills commented on #13
@jwieringa It was good to meet you at Arlington Ruby this week.